<header>
    <!-- header left mobie -->
    <div class="header-mobile d-md-none">
        <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">

            <!-- menu left -->
            <div id="mobile_mainmenu" class="item-mobile-top">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>

            <!-- logo -->
            <div class="mobile-logo">
                <a href="/">
                    <div class="logo-container">
                        <a href="/" class="footer-logo-link" aria-label="FurniCraft Home">
                          <h2 class="text-white">FurniCraft</h2>
                        </a>
                      </div>
                </a>
            </div>

            <!-- menu right -->
            <div class="mobile-menutop" data-target="#mobile-pagemenu">
                <i class="zmdi zmdi-more"></i>
            </div>
        </div>

        <!-- search -->
        <div id="mobile_search" class="d-flex search_widget_form">
            <div id="mobile_search_content">
                <form method="get" action="#">
                    <input type="text" name="s" value="" placeholder="Search">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="desktop_cart">
                <div class="blockcart block-cart cart-preview tiva-toggle">
                    <div class="header-cart tiva-toggle-btn">
                        <% if (isAuthenticated) { %>
                            <span class="cart-products-count"><%= cart.items.length %></span>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <% } %>
                    </div>
                    <div class="dropdown-content">
                        <div class="cart-content">
                            <table>
                              <tbody>
                                <% if (cart && cart.items.length > 0) { %>
                                  <% cart.items.forEach(item => { %>
                                    <tr>
                                      <td class="product-image">
                                        <a href="/product/<%= item.product._id %>">
                                          <img src="<%= item.product.images[0].url || '/img/placeholder.jpg' %>" alt="<%=  item.product.images[0].altText || item.product.name %>" loading="lazy">
                                        </a>
                                      </td>
                                      <td>
                                        <div class="product-name">
                                          <a href="/product/<%= item.product._id %>"><%= item.product.name %></a>
                                        </div>
                                        <div>
                                          <%= item.quantity %> x
                                          <span class="product-price">£<%= (item.product.price * item.quantity).toFixed(2) %></span>
                                        </div>
                                      </td>
                                      <td class="action">
                                        <a class="remove" href="#" data-product-id="<%= item.product._id %>">
                                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                      </td>
                                    </tr>
                                  <% }); %>
                                  
                                  <tr class="total">
                                    <td colspan="2">Total:</td>
                                    <td>£<%= cart.items.reduce((total, item) => total + (item.product.price * item.quantity), 0).toFixed(2) %></td>
                                  </tr>
                                  
                                  <tr>
                                    <td colspan="3" class="d-flex justify-content-center">
                                      <div class="cart-button">
                                        <a href="/cart" title="View Cart">View Cart</a>
                                        <a href="/checkout" title="Checkout">Checkout</a>
                                      </div>
                                    </td>
                                  </tr>
                                <% } else { %>
                                  <tr class="empty-cart">
                                    <td colspan="3" class="text-center py-4">
                                      <i class="fa fa-shopping-cart fa-3x text-muted mb-2"></i>
                                      <p class="text-muted">No products found in cart</p>
                                      <a href="/products" class="btn btn-sm btn-primary">Browse Products</a>
                                    </td>
                                  </tr>
                                <% } %>
                              </tbody>
                            </table>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header desktop -->
    <div class="header-top d-xs-none ">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-sm-2 col-md-2 d-flex align-items-center">
                    <div class="logo logo-container">
                        <a href="/" class="footer-logo-link" aria-label="FurniCraft Home">
                          <img src="/img/logo.png" 
                               alt="FurniCraft Logo" 
                               class="footer-logo-img"
                               loading="lazy"
                               width="40"
                               height="40">
                          <span class="footer-logo-text">FurniCraft</span>
                        </a>
                      </div>
                </div>

                <!-- menu -->
                <div class="main-menu col-sm-4 col-md-5 align-items-center justify-content-center navbar-expand-md">
                    <div class="menu navbar collapse navbar-collapse">
                        <ul class="menu-top navbar-nav">
                            <li class="nav-link">
                                <a href="/" class="parent">Home</a>
                            </li>
                            <li>
                                <a href="/about" class="parent active">About US</a>
                            </li> 
                            <li>
                                <a href="/contact" class="parent">Contact US</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- search-->
                <div id="search_widget" class="col-sm-6 col-md-5 align-items-center justify-content-end d-flex search_widget_form">
                    <form method="get" action="#">
                        <input type="text" name="s" value="" placeholder="Search ..." class="ui-autocomplete-input" autocomplete="off">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                    <!-- acount  -->
                    <div id="block_myaccount_infos" class="hidden-sm-down dropdown">
                        <div class="myaccount-title">
                            <a href="#acount" data-toggle="collapse" class="acount">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>Account</span>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div id="acount" class="collapse">
                            <div class="account-list-content">
                                <% if (isAuthenticated) { %> 
                                    <div>
                                        <a class="login" href="/user-acount" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-cog"></i>
                                            <span>My Account</span>
                                        </a>
                                    </div>
                                <%} else { %> 
                                    <div>
                                        <a class="login" href="/login" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-sign-in"></i>
                                            <span>Sign in</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="register" href="/register" rel="nofollow" title="Register Account">
                                            <i class="fa fa-user"></i>
                                            <span>Register Account</span>
                                        </a>
                                    </div>
                                <%} %>
                                <% if (isAuthenticated) { %> 
                                <div>
                                    <a class="check-out" href="/checkout" rel="nofollow" title="Checkout">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Checkout</span>
                                    </a>
                                </div>
                                    <div>
                                        <a href="/wishlist" title="My Wishlists">
                                            <i class="fa fa-heart"></i>
                                            <span>My Wishlists</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/account/logout" title="Logout">
                                            <i class="fa fa-sign-out"></i>
                                            <span>Logout</span>
                                        </a>
                                    </div>
                                <% } %>
                                
                                <div id="desktop_language_selector" class="language-selector groups-selector hidden-sm-down">
                                    <ul class="list-inline">
                                        <li class="list-inline-item current">
                                            <a href="#">
                                                <img class="img-fluid" src="/img/home/home1-flas.jpg" alt="English" width="16" height="11" loading="lazy">
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <img class="img-fluid" src="/img/home/home1-flas2.jpg" alt="Italiano" width="16" height="11" loading="lazy">
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <img class="img-fluid" src="/img/home/home1-flas3.jpg" alt="Français" width="16" height="11" loading="lazy">
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <img class="img-fluid" src="/img/home/home1-flas4.jpg" alt="Español" width="16" height="11" loading="lazy">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (isAuthenticated) { %>
                        <div class="desktop_cart">
                            <div class="blockcart block-cart cart-preview tiva-toggle">
                                <div class="header-cart tiva-toggle-btn">
                                    <% if (isAuthenticated) { %>
                                        <span class="cart-products-count"><%= cart.items.length %></span>
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <% } %>
                                </div>
                                <div class="dropdown-content">
                                    <div class="cart-content">
                                      <table>
                                        <tbody>
                                          <% if (cart && cart.items.length > 0) { %>
                                            <% cart.items.forEach(item => { %>
                                              <tr>
                                                <td class="product-image">
                                                  <a href="/product/<%= item.product._id %>">
                                                    <img src="<%= item.product.images[0].url || '/img/placeholder.jpg' %>" alt="<%=  item.product.images[0].altText || item.product.name %>" loading="lazy">
                                                  </a>
                                                </td>
                                                <td>
                                                  <div class="product-name">
                                                    <a href="/product/<%= item.product._id %>"><%= item.product.name %></a>
                                                  </div>
                                                  <div>
                                                    <%= item.quantity %> x
                                                    <span class="product-price">£<%= (item.product.price * item.quantity).toFixed(2) %></span>
                                                  </div>
                                                </td>
                                                <td class="action">
                                                  <a class="remove" href="#" data-product-id="<%= item.product._id %>">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                  </a>
                                                </td>
                                              </tr>
                                            <% }); %>
                                            
                                            <tr class="total">
                                              <td colspan="2">Total:</td>
                                              <td>£<%= cart.items.reduce((total, item) => total + (item.product.price * item.quantity), 0).toFixed(2) %></td>
                                            </tr>
                                            
                                            <tr>
                                              <td colspan="3" class="d-flex justify-content-center">
                                                <div class="cart-button">
                                                  <a href="/cart" title="View Cart">View Cart</a>
                                                  <a href="/checkout" title="Checkout">Checkout</a>
                                                </div>
                                              </td>
                                            </tr>
                                          <% } else { %>
                                            <tr class="empty-cart">
                                              <td colspan="3" class="text-center py-4">
                                                <i class="fa fa-shopping-cart fa-3x text-muted mb-2"></i>
                                                <p class="text-muted">No products found in cart</p>
                                                <a href="/products" class="btn btn-sm btn-primary">Browse Products</a>
                                              </td>
                                            </tr>
                                          <% } %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</header>